* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 100%;
    height: auto;
    background: #fff;
}

input {
    display: none;
}


nav {
    background: rgb(171, 171, 171);
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    position: sticky;
    top: 0;
    color: #000;

}

.nav-left-icon {
    cursor: pointer;
    padding-left: 50px;
}

.nav-right-icon {
    padding-right: 50px;
}

.sidebar-links-wrapper {
    list-style-type:  none;
    position: absolute;
    background:rgb(171, 171, 171);
    width: 20%;
    height: 2500px;
    transform: translateX(-300%);
    top: 50px;
    transition: 0.7s;
    z-index: 5;
    margin-left: auto;
}


.sidebar-links-wrapper a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;
    align-self: center;
    text-align: center;
    line-height: 50px;
}

.sidebar-links-wrapper a:hover {
    color: rgb(255, 255, 255);
}

input:checked ~ nav .sidebar-links-wrapper {
    transform: translateX(0%);
}

.section-1-content {
    position: relative;
}
.section-1 img {
    width: 95%;
    display: block;
    margin: auto;
}

.section-1 h2 {
    margin: auto;
    display: block;  
}